.capnoTrainerContainer {
  background-color: #e6f2f2;
  padding: 100px 20px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.preTitle {
  font-family: 'Spectral SC', serif;
  font-weight: 700;
  font-size: 16.33px;
  color: #101010;
  margin: 0;
}

.mainTitle {
  font-family: 'Spectral SC', serif;
  font-weight: 700;
  font-size: 40px;
  color: #008080;
  margin: 10px 0;
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
}


.featureCard {
  background: transparent;
  border-radius: 8px;
  overflow: hidden;
  box-shadow:
    0px 1px 3px 0px #0000001A,
    0px 6px 6px 0px #00000017,
    0px 13px 8px 0px #0000000D,
    0px 23px 9px 0px #00000003,
    0px 35px 10px 0px #00000000;
}


.featureImage {
  width: 100%;
  height: 221px;
  object-fit: cover;
  border-radius: 8px;
}

.featureContent {
  background: #e6f2f2;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
}

.featureTitle {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #008080;
  margin: 0 0 10px 0;
  text-align: left;
}

.featureDescription {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #101010;
  text-align: left;
  margin: 0;
  line-height: 1.5;
}

.decoration {
  margin-top: 50px;
  text-align: left;
}

.decorationImage {
  width: 367px;
  height: 104.45px;
}

@media (max-width: 1200px) {
  .featuresGrid {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
  }
}

@media (max-width: 768px) {
  .featuresGrid {
      grid-template-columns: 1fr;
  }
  .featureImage {
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .mainTitle {
      font-size: 32px;
  }
  
  .decorationImage {
      width: 100%;
      height: auto;
  }
}
